.sidebar{
  align-items: center;
  background-color: white;
  border-right: 1px solid  rgb(215, 215, 215);
  box-shadow: 4px 0px 4px -3px rgb(200, 200, 200);
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow-y: scroll;
  padding-bottom: 50px;
  padding-top: 60px;
  position: fixed;
  top: 0px;
  width: 225px;
}

.sidebar .group-container{
  align-items: center;
  display: flex;
  justify-content: center;
  width: 100%;
}

.sidebar .group {
  align-items: center;
  border: 1px solid grey;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  height: 50px;
  justify-content: center;
  margin: 10px 10px;
  overflow: hidden;
  padding: 5px;
  width: 100%;
}
.sidebar .group p{
  margin: auto;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.sidebar h4 {
  color: #0192d6;
  margin: 10px 0 0 0;
}

.sidebar .group:hover{
  background-color: #e4eaee !important;
}

.sidebar .fixed-group:hover{
  background-color: #c4c4cc !important;
}

.sidebar .group-options-btn{
  color: black;
  cursor: pointer;
}

.sidebar .remove-circle-icon{
  color: red;
  cursor: pointer;
}

@media screen and (max-width: 900px){
  .sidebar{
    background: linear-gradient(#e4eaee,#dde4e8);
    flex-direction: row;
    height: 90px;
    margin: 0;
    overflow-x: scroll;
    padding: 0;
    position: relative;
    width: 100vw;
  }

  #tasks-sidebar-heading {
    display: none;
  }

  .sidebar .group{
    height: 40px;
    min-width: 170px;
  }

  .sidebar h4 {
    color: #0192d6;
    margin: 0;
  }

  .remove-circle-icon{
    margin-right: 20px;
  }
}