.App{
  display: flex;
  flex-direction: column;
  height: 100%;
}

main {
  box-sizing: border-box;
  display: flex;
  height: 100vh;
  margin-left: 225px;
  margin-top: 60px;
}

.task-section{
  width: 100%;
}

.alert {
  bottom: 0;
  position: absolute;
  right: 0;
  z-index: 1000;
}

.horizontal-sidebar{
  border: 1px solid #C6D2D9;
  box-shadow: 0px 5px 5px -3px rgb(200, 200, 200);
  display: none;
  margin-bottom: 20px;
}

@media screen and (max-width: 900px){
  main{
    margin-left: 0;
    transition: 1s;
    width: 100%;
  }
  .vertical-sidebar{
    /* display: none; */
    height: 0;
    overflow: hidden;
    transition: 2s;
    width: 0;
  }
  .horizontal-sidebar{
    display: flex;
    margin: 0px 20px 10px 20px;
    transition: 1s;
  }
}

@media screen and (max-width: 550px){
  .horizontal-sidebar{
    margin: 0px 0px 10px 0px;
    transition: 1s;
  }
}